<app-menu></app-menu>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="card" style="width: 97%; margin-left: 20px">
        <div class="card-header">Produtos</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="descricaoInput" class="form-label">Descrição</label>
                        <input type="text" class="form-control" [(ngModel)]="descricao" name="descricao">
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="qauntidadeInput" class="form-label">Quantidade</label>
                        <input type="number" min="0" class="form-control"  [(ngModel)]="quantidade" name="quantidade" />
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="precoInput" class="form-label">Preço</label>
                        <input type="number" class="form-control" [(ngModel)]="preco" name="preco" />
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-success" (click)="onProduto()">Salvar</button>
                      </div>
                </div>
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                          <th scope="col">ID</th>
                          <th scope="col">DESCRIÇÃO</th>
                          <th scope="col">QUANTIDADE</th>
                          <th scope="col">PREÇO</th>
                          <th scope="col"></th>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let prod of produtos; let i = index">
                            <td>{{ prod.id }}</td>
                            <td>{{ prod.descricao }}</td>
                            <td>{{ prod.quantidade }}</td>
                            <td>{{ prod.preco }}</td>
                            <td>
                                <button class="btn btn-sm btn-info" (click)="showEdit(prod)">Editar</button>
                                <button class="btn btn-sm btn-danger" (click)="deleteProd(prod.id)" style="margin-left: 10px;">Excluir</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
