<app-menu></app-menu>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="card" style="width: 97%; margin-left: 20px">
        <div class="card-header">Clientes</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="nomeInput" class="form-label">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="nome" name="nome">
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="rgInput" class="form-label">RG</label>
                        <input type="number" min="0" class="form-control"  [(ngModel)]="rg" name="rg" />
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="cpfInput" class="form-label">CPF</label>
                        <input type="number" class="form-control" [(ngModel)]="cpf" name="cpf" />
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-success" (click)="onCliente()">Salvar</button>
                      </div>
                </div>
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                          <th scope="col">ID</th>
                          <th scope="col">NOME</th>
                          <th scope="col">RG</th>
                          <th scope="col">CPF</th>
                          <th scope="col"></th>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let cli of clientes; let i = index">
                            <td>{{ cli.id }}</td>
                            <td>{{ cli.nome }}</td>
                            <td>{{ cli.rg }}</td>
                            <td>{{ cli.cpf }}</td>
                            <td>
                                <button class="btn btn-sm btn-info" (click)="showEdit(cli)">Editar</button>
                                <button class="btn btn-sm btn-danger" (click)="deleteCli(cli.id)" style="margin-left: 10px;">Excluir</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
