<app-menu></app-menu>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="card" style="width: 97%; margin-left: 20px">
        <div class="card-header">Vendas</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="clienteInput" class="form-label">Cliente</label>
                        <select class="form-control" [(ngModel)]="fkidcliente">
                            <option *ngFor="let cli of clientes; let i = index" value="{{cli.id}}">
                                {{cli.nome}}
                            </option>
                        </select>
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="produtoInput" class="form-label">Produto</label>
                        <select class="form-control" [(ngModel)]="fkidproduto">
                            <option *ngFor="let pro of produtos; let i = index" value="{{pro.id}}">
                                {{pro.descricao}}
                            </option>
                        </select>
                      </div>
                      <div class="mb-3" style="width:50%">
                        <label for="qauntidadeInput" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" [(ngModel)]="quantidade" name="quantidade" />
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-success" (click)="onVender()">Vender</button>
                      </div>
                </div>
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <thead>
                          <th scope="col">ID</th>
                          <th scope="col">NOME</th>
                          <th scope="col">PRODUTO</th>
                          <th scope="col">QUANTIDADE</th>
                          <th scope="col">DATA</th>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let ven of vendas; let i = index">
                            <td>{{ ven.id }}</td>
                            <td>{{ ven.fk_id_cliente }}</td>
                            <td>{{ ven.fk_id_produto }}</td>
                            <td>{{ ven.quantidade }}</td>
                            <td>{{ ven.updated_at }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
